html {
font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding:2.5rem;
    
}

nav{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-style: solid;
    
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    

}
.navbar a{
    text-decoration: none;
    padding: 0.3rem;
}


.top{
    padding-top: 3rem;
}